* text=auto eol=lf

*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.cu text eol=lf

*.png binary
*.jpg binary
*.pdf binary
